<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/ingredientes" routerLinkActive="active">Ingredientes</a>
                </li>
                <li>
                    <a routerLink="/lanches" routerLinkActive="active">Lanches</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Criado por: Wellington Alves</a></li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>